<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0 lien-he">
    <div class="lien-he-1">
    <!-- Section: Social media -->
    <section class=" m-1">

      <!-- Subscribe button -->
      <a href="">
        <button type="submit" class="btn btn-outline-light m-1">
          Liên hệ: 123 456 789
        </button>
      </a>
      

      <!-- Subscribe button -->
      <a href="">
        <button type="submit" class="btn btn-outline-light m-1">
          Email: group6@gmail.com
        </button>
      </a>
    </div>
    <div class="lien-he-2">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
      ><i class="bi bi-facebook"></i>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
      ><i class="bi bi-twitter"></i></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
      ><i class="bi bi-google"></i></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
      ><i class="bi bi-instagram"></i></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
      ><i class="bi bi-linkedin"></i></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
      ><i class="bi bi-github"></i></a>
    </section>
    </div>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>