<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <if no item></if>
              <else>
                <h1>Cart</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart.products}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{qty}}</td>
                            <td>{{price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <p>Total: {{cart.totalPrice}}</p>
              </else>
            </div>
        </div>
    </div>
</body>