<body>
    <div class="productDetails ">
        <h1>Set Keycap 9009 Set Keycap 9009 | Profile Cherry | PBT Dyesub | Nút bàn phím cơ  </h1>
    </div>

    <div class="product-image">
      <img src="./images/product1" alt="Product Name">
      <hr>
    </div>

    <div class="product-code">
        <label>Mã sản phẩm:</label>
        <p>54</p>

    </div>

    <div class="product-status">
        <label>Tình trạng: </label>
        <p>Còn hàng</p>

    </div>    

    <div class="product-price">
        <label>Price:</label>
        <p >490,000 đ</p>
      </div>

    <div class="product-quantity">
        <label for="quantity">Số lượng:</label>
        <button id="plus" onclick="totalClick(1)">+</button>
        <span id="totalClicks">0</span>
        <button id="minus"onclick="totalClick(-1)">-</button>
    </div>
    <script>
        function totalClick(click){
            const sum = document.getElementById('totalClicks');
            const sumvalue = parseInt(totalClicks.innerText)+click;
            totalClicks.innerText = sumvalue ; 
            //avoid negative numbers
            if (sumvalue<0){
                totalClicks.innerText = 0;
            }
        
        }
    </script>
    
    <div class="storages">
        <label>Tồn kho: </label>
        <p>3 sản phẩm</p>
    </div>

    <button class="Buy-now">Mua Ngay</button>
    <button class="Add-to-cart">Thêm vào giỏ</button>

    <div class="product-description">
        <label>Mô tả sản phẩm: </label>
        <hr>
    </div>
    <div class="description">
        <pre>
            <br>- Gasket Mount
            <br>- 3 Modes
            <br>- PCB Hotswap
            <br>- Led RGB
            <br>- Keymap bằng phần mềm hãng
            <br>- Case Acrylic CNC
            <br>- Foam PCB/Case
            <br>- Foam Sw IXPE 
        </pre>
    </div>
  </body>